@model IEnumerable<StrengthStrive.Models.TrainingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Training" asp-action="TrainingCreate">Create</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TrainingNaam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TrainingNaam)
            </td>
            <td>
                    @Html.ActionLink("Details", "TrainingDetails", new { id = item.Id, training_naam = item.TrainingNaam }) |
                    @Html.ActionLink("AddOefening", "TrainingAddOefening", new { id = item.Id, training_naam = item.TrainingNaam }) |
                    @Html.ActionLink("Delete", "TrainingDelete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
